<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstWebProgram</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValCodeServlet</display-name>
    <servlet-name>ValCodeServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.ValCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValCodeServlet</servlet-name>
    <url-pattern>/ValCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckValCodeServlet</display-name>
    <servlet-name>CheckValCodeServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CheckValCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckValCodeServlet</servlet-name>
    <url-pattern>/CheckValCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernumberServlet</display-name>
    <servlet-name>CheckUsernumberServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CheckUsernumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernumberServlet</servlet-name>
    <url-pattern>/CheckUsernumberServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>charSet</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <context-param>
    <param-name>fileType</param-name>
    <param-value>jpg,gif,png</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckRestnumberServlet</display-name>
    <servlet-name>CheckRestnumberServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CheckRestnumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRestnumberServlet</servlet-name>
    <url-pattern>/CheckRestnumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestRegisterServlet</display-name>
    <servlet-name>RestRegisterServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.RestRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestRegisterServlet</servlet-name>
    <url-pattern>/RestRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCouriernumberServlet</display-name>
    <servlet-name>CheckCouriernumberServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CheckCouriernumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCouriernumberServlet</servlet-name>
    <url-pattern>/CheckCouriernumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierRegisterServlet</display-name>
    <servlet-name>CourierRegisterServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierRegisterServlet</servlet-name>
    <url-pattern>/CourierRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestLoginServlet</display-name>
    <servlet-name>RestLoginServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.RestLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestLoginServlet</servlet-name>
    <url-pattern>/RestLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensAddServlet</display-name>
    <servlet-name>GreensAddServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensAddServlet</servlet-name>
    <url-pattern>/GreensAddServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserLoginCheckFilter</display-name>
    <filter-name>UserLoginCheckFilter</filter-name>
    <filter-class>com.neuedu.filter.UserLoginCheckFilter</filter-class>
    <init-param>
      <param-name>passPageList</param-name>
      <param-value>user_login.jsp,user_register.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginCheckFilter</filter-name>
    <url-pattern>/user_index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>RestLoginCheckFilter</display-name>
    <filter-name>RestLoginCheckFilter</filter-name>
    <filter-class>com.neuedu.filter.RestLoginCheckFilter</filter-class>
    <init-param>
      <param-name>passPageList</param-name>
      <param-value>rest_login.jsp,rest_register.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RestLoginCheckFilter</filter-name>
    <url-pattern>/greens_add.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GreensQueryServlet</display-name>
    <servlet-name>GreensQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensQueryServlet</servlet-name>
    <url-pattern>/GreensQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestLogoutServlet</display-name>
    <servlet-name>RestLogoutServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.RestLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestLogoutServlet</servlet-name>
    <url-pattern>/RestLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensUpdateServlet</display-name>
    <servlet-name>GreensUpdateServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensUpdateServlet</servlet-name>
    <url-pattern>/GreensUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensFindServlet</display-name>
    <servlet-name>GreensFindServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensFindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensFindServlet</servlet-name>
    <url-pattern>/GreensFindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensDeleteServlet</display-name>
    <servlet-name>GreensDeleteServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensDeleteServlet</servlet-name>
    <url-pattern>/GreensDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensDeleteBatchServlet</display-name>
    <servlet-name>GreensDeleteBatchServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensDeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensDeleteBatchServlet</servlet-name>
    <url-pattern>/GreensDeleteBatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestUpdateServlet</display-name>
    <servlet-name>RestUpdateServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.RestUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestUpdateServlet</servlet-name>
    <url-pattern>/RestUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutServlet</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensQueryByUserServlet</display-name>
    <servlet-name>GreensQueryByUserServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensQueryByUserServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensQueryByUserServlet</servlet-name>
    <url-pattern>/GreensQueryByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserShoppingServlet</display-name>
    <servlet-name>UserShoppingServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserShoppingServlet</servlet-name>
    <url-pattern>/UserShoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserShoppingQueryServlet</display-name>
    <servlet-name>UserShoppingQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserShoppingQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserShoppingQueryServlet</servlet-name>
    <url-pattern>/UserShoppingQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingDeleteServlet</display-name>
    <servlet-name>ShoppingDeleteServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.ShoppingDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingDeleteServlet</servlet-name>
    <url-pattern>/ShoppingDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBuyServlet</display-name>
    <servlet-name>UserBuyServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserBuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBuyServlet</servlet-name>
    <url-pattern>/UserBuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayCheckServlet</display-name>
    <servlet-name>PayCheckServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.PayCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayCheckServlet</servlet-name>
    <url-pattern>/PayCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckGreensnumberServlet</display-name>
    <servlet-name>CheckGreensnumberServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CheckGreensnumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckGreensnumberServlet</servlet-name>
    <url-pattern>/CheckGreensnumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderQueryServlet</display-name>
    <servlet-name>OrderQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.OrderQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderQueryServlet</servlet-name>
    <url-pattern>/OrderQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierQueryServlet</display-name>
    <servlet-name>CourierQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierQueryServlet</servlet-name>
    <url-pattern>/CourierQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierSelectedServlet</display-name>
    <servlet-name>CourierSelectedServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierSelectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierSelectedServlet</servlet-name>
    <url-pattern>/CourierSelectedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierFinishServlet</display-name>
    <servlet-name>CourierFinishServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierFinishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierFinishServlet</servlet-name>
    <url-pattern>/CourierFinishServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierLoginServlet</display-name>
    <servlet-name>CourierLoginServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierLoginServlet</servlet-name>
    <url-pattern>/CourierLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierLogoutServlet</display-name>
    <servlet-name>CourierLogoutServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierLogoutServlet</servlet-name>
    <url-pattern>/CourierLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierrestQueryServlet</display-name>
    <servlet-name>CourierrestQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierrestQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierrestQueryServlet</servlet-name>
    <url-pattern>/CourierrestQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserGetGreensServlet</display-name>
    <servlet-name>UserGetGreensServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserGetGreensServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserGetGreensServlet</servlet-name>
    <url-pattern>/UserGetGreensServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderQueryServletByUser</display-name>
    <servlet-name>OrderQueryServletByUser</servlet-name>
    <servlet-class>com.neuedu.servlet.OrderQueryServletByUser</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderQueryServletByUser</servlet-name>
    <url-pattern>/OrderQueryServletByUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentAddServletforCourier</display-name>
    <servlet-name>CommentAddServletforCourier</servlet-name>
    <servlet-class>com.neuedu.servlet.CommentAddServletforCourier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAddServletforCourier</servlet-name>
    <url-pattern>/CommentAddServletforCourier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierCommentQueryServlet</display-name>
    <servlet-name>CourierCommentQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierCommentQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierCommentQueryServlet</servlet-name>
    <url-pattern>/CourierCommentQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensCommentQueryServlet</display-name>
    <servlet-name>GreensCommentQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensCommentQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensCommentQueryServlet</servlet-name>
    <url-pattern>/GreensCommentQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentAddServletforGreens</display-name>
    <servlet-name>CommentAddServletforGreens</servlet-name>
    <servlet-class>com.neuedu.servlet.CommentAddServletforGreens</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAddServletforGreens</servlet-name>
    <url-pattern>/CommentAddServletforGreens</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestCommentQueryServlet</display-name>
    <servlet-name>RestCommentQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.RestCommentQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestCommentQueryServlet</servlet-name>
    <url-pattern>/RestCommentQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentAddServletforRest</display-name>
    <servlet-name>CommentAddServletforRest</servlet-name>
    <servlet-class>com.neuedu.servlet.CommentAddServletforRest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAddServletforRest</servlet-name>
    <url-pattern>/CommentAddServletforRest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentQueryServletforRestByRest</display-name>
    <servlet-name>CommentQueryServletforRestByRest</servlet-name>
    <servlet-class>com.neuedu.servlet.CommentQueryServletforRestByRest</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentQueryServletforRestByRest</servlet-name>
    <url-pattern>/CommentQueryServletforRestByRest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestQueryByUserServlet</display-name>
    <servlet-name>RestQueryByUserServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.RestQueryByUserServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestQueryByUserServlet</servlet-name>
    <url-pattern>/RestQueryByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensQueryByRestServlet</display-name>
    <servlet-name>GreensQueryByRestServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensQueryByRestServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>pageSize1</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensQueryByRestServlet</servlet-name>
    <url-pattern>/GreensQueryByRestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensQueryByCommentServlet</display-name>
    <servlet-name>GreensQueryByCommentServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensQueryByCommentServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensQueryByCommentServlet</servlet-name>
    <url-pattern>/GreensQueryByCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperLoginServlet</display-name>
    <servlet-name>SuperLoginServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.SuperLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperLoginServlet</servlet-name>
    <url-pattern>/SuperLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestQueryServletBySuper</display-name>
    <servlet-name>RestQueryServletBySuper</servlet-name>
    <servlet-class>com.neuedu.servlet.RestQueryServletBySuper</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestQueryServletBySuper</servlet-name>
    <url-pattern>/RestQueryServletBySuper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestInfoQueryServlet</display-name>
    <servlet-name>RestInfoQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.RestInfoQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestInfoQueryServlet</servlet-name>
    <url-pattern>/RestInfoQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreensQueryServletBySuper</display-name>
    <servlet-name>GreensQueryServletBySuper</servlet-name>
    <servlet-class>com.neuedu.servlet.GreensQueryServletBySuper</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreensQueryServletBySuper</servlet-name>
    <url-pattern>/GreensQueryServletBySuper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestQueryBySuperServlet</display-name>
    <servlet-name>RestQueryBySuperServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.RestQueryBySuperServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestQueryBySuperServlet</servlet-name>
    <url-pattern>/RestQueryBySuperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderQueryBySuperServlet</display-name>
    <servlet-name>OrderQueryBySuperServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.OrderQueryBySuperServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderQueryBySuperServlet</servlet-name>
    <url-pattern>/OrderQueryBySuperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserQueryServletBySuper</display-name>
    <servlet-name>UserQueryServletBySuper</servlet-name>
    <servlet-class>com.neuedu.servlet.UserQueryServletBySuper</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserQueryServletBySuper</servlet-name>
    <url-pattern>/UserQueryServletBySuper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoQueryServlet</display-name>
    <servlet-name>UserInfoQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserInfoQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoQueryServlet</servlet-name>
    <url-pattern>/UserInfoQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserOrderQueryBySuperServlet</display-name>
    <servlet-name>UserOrderQueryBySuperServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserOrderQueryBySuperServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrderQueryBySuperServlet</servlet-name>
    <url-pattern>/UserOrderQueryBySuperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierQueryServletBySuper</display-name>
    <servlet-name>CourierQueryServletBySuper</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierQueryServletBySuper</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierQueryServletBySuper</servlet-name>
    <url-pattern>/CourierQueryServletBySuper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierInfoQueryServlet</display-name>
    <servlet-name>CourierInfoQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierInfoQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierInfoQueryServlet</servlet-name>
    <url-pattern>/CourierInfoQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierOrderQueryBySuperServlet</display-name>
    <servlet-name>CourierOrderQueryBySuperServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierOrderQueryBySuperServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierOrderQueryBySuperServlet</servlet-name>
    <url-pattern>/CourierOrderQueryBySuperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierCommentQueryBySuperServlet</display-name>
    <servlet-name>CourierCommentQueryBySuperServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CourierCommentQueryBySuperServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierCommentQueryBySuperServlet</servlet-name>
    <url-pattern>/CourierCommentQueryBySuperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoSelectCourierServlet</display-name>
    <servlet-name>AutoSelectCourierServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.AutoSelectCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoSelectCourierServlet</servlet-name>
    <url-pattern>/AutoSelectCourierServlet</url-pattern>
  </servlet-mapping>
</web-app>